html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
#buttonStyle {
    font-size: 15px;
    font-family: Arial;
    width: 140px;
    height: 50px;
    border-width: 1px;
    color: #fff;
    border-color: #84bbf3;
    font-weight: bold;
    margin: 1em;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    text-shadow: inset 0px 1px 0px #528ecc;
    background: linear-gradient(#79bbff, #378de5);
}

    #buttonStyle:hover {
        background: linear-gradient(#378de5, #79bbff);
    }
.content{
    text-align: center;
    margin: auto;
   
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-link-li {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

}

.nav-link-li:hover {
    color: #92ceff;
}

.RL{

    position: absolute;
    right:2em;

}