
@{
    // var users = ViewBag.usersOBJ;
    var tmp ="";

   
}

<style>

    .matchDiv {
        margin:.5em;
        display: flex;
        flex-direction:row;
        align-items:center;
        border-style: solid;
    }

    .profilePicture{
        width:80px;
        height:80px;
    }
    .section{
        margin:.5em;
        display:flex;
        flex-direction:column;
    }
</style>
@*
@{ foreach (var user in tmp)
    {

        

    }}*@
<div id="container">
    <div class="matchDiv">
        <div class="section">
            <img class="profilePicture" src="" />
        </div>
        <div class="section">
            <p>Name Name</p>
            <p>Country</p>
        </div>
        <div class="section">
            <p>Banks Name Uses:</p>
            <p>Bank 1</p>
            <p>Bank 2</p>
        </div>
        <div class="section">
            <a href="" id="buttonStyle">Match with Name</a>
        </div>

    </div>
</div>