@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <p> "users with a no-cost, simple, and effective international money transfer platform."</p>

   <h4>
       This purpose sits near and dear to our hearts.<Br /> Why? Well, growing up, our founders left home to work laborious jobs, in-order to support their families. From a young age, they were stripped the privilege to establish friendships and live the life a child deserves; rather they had to work and send money to their families. Unfortunately, they worked laborious jobs only to spend a large chunk of their hard-earned money on international transfer fees and service costs.
<br />
    Today, together, you, I, and those alike, will put a rest to these unnecessary costs, and never pay to transfer money again.
    <br />
    Join today, and together we will save and pave a new path to a more honest and just future!
    </h4>
  
 </div>
