@*
    //Our page for asking user what they'd like to do
*@
@{
}
<style>
    #buttons{
        display: flex;
    }
</style>

<div id="container">
    <div id="buttons">
        <a id="buttonStyle" asp-controller="Register" asp-action="Index" >Register</a>
        <a id="buttonStyle"  asp-controller="Login" asp-action="Index" >Login</a>
    </div>
</div>

