@*
    //Our page for asking user what they'd like to do
*@
@{
}
<style>
    #buttons{
        display: flex;
    }
</style>

<div class="content">
    <div id="buttons">
        <a id="buttonStyle" asp-controller="Register" asp-action="Index" href="">Register</a>
        <a id="buttonStyle" asp-controller="Login" asp-action="Index" href="">Login</a>
    </div>
</div>

